.App {
  text-align: center;
}

.conatiner {
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  margin-left: 10px !important;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid rgb(185,9,11) !important;
  box-shadow: 0 1px 0 0 rgb(185,9,11)
}

.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),
  0 0px 20px 5px rgba(179, 175, 175, 0.55);
  -webkit-transition: box-shadow .75s;
  transition: box-shadow .75s;
}

.preloader-wrapper.big {
  width: 150px;
  height: 150px;
}

.spinner-red-only {
  border-color: rgb(185,9,11) !important;
}

.collection-item {
  background-color: transparent !important;
  border-bottom: none !important
}

.collection-header {
  background-color: transparent !important;
  border-bottom: none !important
}

.loader {
  margin-top: 20%;
}

h3.header {
  font-size: 1.92rem !important;
  margin-left: 2%;
}

.btn {
  background-color: rgb(185,9,11) !important;
}

.search {
  margin-top: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav-wrapper {
  background-color: rgb(185,9,11) !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
